* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside {
    width: 300px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.aside {
    width: 90%;
    margin: auto;
}

.sidebar-title {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 30px;
    height: 30px;
    border-radius: 20%;
    background-color: #214747;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 25px;
    height: 25px;
}

.title {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.menus, .tags {color: #616060FF;}

.menu {
    width: 100%;
    height: 40px;
    font-weight: 500;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 6px;
}
.menu > img {
    width: 25px;
    height: 25px;
}

.tags > span {
    font-size: 12px;
    font-weight: bold;
}
.tag {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tag > span {
    font-size: 16px;
    font-weight: 500;
}
.tag-input {
    width: 40%;
    display: flex;
    display: flex;
    justify-content: start;
    gap: 10px;
}
.num {
    width: 20px;
    height: 20px;
    background-color: #E7EFF1;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    padding-left: 300px;
    background-color: #fff;
}

header {
    width: 98%;
    height: 60px;
    border-bottom: 1px solid #ddd;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > .search {
    width: 200px;
    height: 40px;
    border: 2px solid #cccccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
header > .search > img {
    width: 25px;
    height: 25px;
}
header > .search > input {
    width: 80%;
    height: 100%;
    font-size: 14px;
    border: none;
    outline: none;
}

.user {
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.add-bookmark {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #214747;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.add-bookmark > img {
    width: 20px;
    height: 20px;
}

.profile {
    width: 34px;
    height: 34px;
    background-color: #214747;
    border-radius: 20px;
}

section{
    height: 100%;
    padding: 40px;
    background-color: #E7EFF1;
}
.main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sort {
    width: 100px;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.item-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 280px;
    gap: 36px;
    margin-top: 20px;
}

.item {
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}
.item-header {
    width: 90%;
    height: 60px;
    margin: auto;
    padding: 36px 0;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-info {
    width: 220px;
    display: flex;
    justify-content: space-between;
}
.item-icon {
    width: 46px;
    height: 46px;
    border: 2px solid gray;
    border-radius: 5px;
}
.item-title {
    display: flex;
    flex-direction: column;
}
.item-title > .main-title {
    font-size: 20px;
    font-weight: 500;
}
.item-title > .sub-title {
    font-size: 12px;
    color: gray;
}

.item-option {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-option > img {
    width: 26px;
    height: 26px;
}

.item-body {
    width: 90%;
    margin: auto;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.item-body > span {
    height: 72px;
    color: gray;
    font-size: 16px;
}

.categorys {
    display: flex;
    justify-content: start;
    gap: 10px;
}
.category {
    height: 20px;
    margin-top: 16px;
    padding: 8px;
    border-radius: 5px;
    background-color: #E7EFF1;
    color: gray;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-footer {
    width: 100%;
    height: 40px;
    border-top: 1px solid gray;
}
.footer-icon {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-icon > img {
    width: 26px;
    height: 26px;
}
.icons {
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.icon {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon > img {
    width: 16x;
    height: 16px;
}
.icon > span {
    width: 46px;
    color: gray;
    font-size: 14px;
}