* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside {
    width: 300px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.aside {
    width: 90%;
    margin: auto;
}

.sidebar-title {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 30px;
    height: 30px;
    border-radius: 20%;
    background-color: #214747;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 25px;
    height: 25px;
}

.title {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
}
header > .search {
    width: 200px;
    height: 40px;
    border: 2px solid #cccccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
header > .search > img {
    width: 25px;
    height: 25px;
}
header > .search > input {
    width: 80%;
    height: 100%;
    font-size: 14px;
    border: none;
    outline: none;
}

.add-bookmark {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #214747;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.add-bookmark > img {
    width: 20px;
    height: 20px;
}


main {
    width: 100%;
    padding-left: 300px;
    background-color: #fff;
}

header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ddd;
}

section{
    height: 100%;
    padding: 20px;
    background-color: #E7EFF1;
}

.item-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 240px;
    gap: 36px;
    margin-top: 20px;
}

.item {
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}