* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBF7F4;
}

.container {
    width: 100%;
    padding: 100px 200px;
    display: flex;
}

section {
    width: 70%;
    display: flex;
    flex-direction: column;
}

section > span {
    padding: 20px 0;
    font-size: 40px;
    font-weight: 800;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 450px;
    gap: 20px;
}

.item {
    width: 300px;
    position: relative;
}

.item > img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.add-cart-btn {
    width: 200px;
    height: 60px;
    top: 270px;
    left: 50px;
    position: absolute;
    border: 1px solid #D8B6A8;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.add-cart-btn > img {
    width: 25px;
    height: 25px;
}

.item-text {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.item-type {
    color: #9C8F88;
}

.item-name {
    font-weight: bold;
}

.price {
    color: #C84A2A;
    font-weight: bold;
}

.cart {
    width: 460px;
    height: 360px;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}

.cart > span {
    font-size: 24px;
    font-weight: 800;
    color: #C84A2A;
}

.cart-main {
    width: 100%;
    color: #9F8F8C;
    display: flex;
    flex-direction: column;
    align-items: center;
}